.layout{
    background-color:black;
    border-width:10px;
    border: solid 3px #6b6b6b;

    width:40%;

    padding:20px;
    padding-top:0px;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius:10px;
    font-size:20px;
}

#stationname, #ncord, #ocord{
    background-color: rgb(39, 39, 39);
    border-color: rgb(82, 82, 82);
}

#erstellen{
    background-color: rgb(39, 39, 39);
    border-color: rgb(82, 82, 82);
    color: #807f7f;
}

#ncord, #ocord{
    width: 20%;
}

.stationentabelle{
    background-color:black;
    border-width:10px;
    border: solid 3px #525252;
    width:40%;
    padding:20px;
    padding-top:20px;
    top:110%;
    border-radius:10px;
    font-size:20px;
    position:absolute;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.stationentabelle table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    overflow: hidden; /* Verhindert, dass die abgerundeten Ecken �ber den Hintergrund hinausragen */
    border-radius: 10px; /* Radius f�r die abgerundeten Ecken der Tabelle */
}

.stationentabelle th, .stationentabelle td {
    border: 0.5px solid #2e2e2e; /* Optional: Hinzuf�gen von Zellenr�ndern */
    padding: 8px;
    text-align: left;
}


/* Optional: Styling f�r den Tabellenkopf (th) */
.stationentabelle th {
    background-color: #3f3f3f;
    color: white;
}


.hinweis{
    color: rgb(255, 0, 0) !important;
    font-size: 25px;
}
.fragentabelle td {
    border: 0.5px solid white; /* �ndere dies nach Bedarf */
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Verhindert Zeilenumbr�che */
    overflow: hidden; /* Zeigt keinen �berlauf an */
    text-overflow: ellipsis; /* F�gt ein Auslassungssymbol (...) hinzu, wenn der Text abgeschnitten wird */
}
